<% layout('layouts/boilerplate') %>
    <%for(let user of allUsers){%>
        <ul>
            <li>
                <h4><%=user.username%></h4>
                <button><a href='/user/userinfo/<%=user._id%>'>Details</a></button>
            </li>
        </ul>
        
        

    <%}%>
    
