<% layout('layouts/boilerplate') %>
    <div id="homepage" style="margin-top:22%; border: solid 1px; width:400px; padding:10px; text-align:center; margin-left: 550px;">
        <h1>Welcome To Homepage</h1> 
        <a href="/register"><button class="btn btn-warning">Register</button></a>
        <a href="/login"><button class="btn btn-success">Login</button></a>
        
    </div>     