<% layout('layouts/boilerplate') %>
<div style="text-align: center; display:flex; flex-direction:column; margin-top: 250px; border: solid 2px; padding:10px; max-width: 400px; margin-left:550px;">
    <h1 style="color:yellowgreen;">Login</h1>
        <form action="/login/user" method="post">
            <div style="margin:20px;">
                <label for="username">Username</label>
                <input type="text" placeholder="username" name="username" id="username" required>
            </div>
            <div style="margin:20px;">
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password" id="password" required>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
</div>
