<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Update user info</h1>
        <form action="/updateinfo/<%=user._id%>/?_method=put" method="post">
            <label for="username">Username</label>
            <input type="text" placeholder="username" name="username" id="username" value="<%=user.username%>" required>
            <label for="email">Email</label>
            <input type="email" placeholder="email" name="email" id="email"  value="<%=user.email%>" required>
            <label for="mobile">Mobile</label>
            <input type="number" placeholder="mobile number" name="contact" id="mobile" value="<%=user.contact%>" required>
            <button>Submit</button>
        </form>

</body>
</html>
