<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userinfo</title>
</head>
<body>
    <h1>User Details</h1>
    <h3>username: <%=user[0].username%> </h3>
    <h3>Mobile: <%=user[0].contact%> </h3>
    <h3>Email: <%=user[0].email%> </h3>
    
    <button><a href="/updateinfo/<%=user[0]._id%>">update</a></button>
</body>
</html> 